<div id="loadPage" class="outer backouter">
    <div class="middle">
        <div class="inner">

            <div class="progress grey darken-2">
                <div class="indeterminate white"></div>
            </div>

        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modalerror" class="modal">
    <div class="modal-content">
        <h4><span style="color: #f44336;">Error: </span><span class='modalTittle'></span></h4>
        <p><span class='modalDesc'></span></p>
    </div>
    <div class="modal-footer">
        <a  class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>