<main style="height: 100%">

<nav class="top-nav">
    <div class="container">
        <div class="nav-wrapper principalcolor">
            <a href="#" data-target="slide-out" class="top-nav sidenav-trigger principalcolor"><i class="material-icons" style="font-size: 35px">menu</i></a>
            <h3 class="center" id="titleNav"> Room Control </h3>
        </div>
    </div>
</nav>

<div class="container">
    <div id="mainRow" class="row">
    </div>
</div>
</main>

<div class="fixed-action-btn">
<a id="b_flutuante" onclick="saveConfig()"
    class="btn-floating btn-large waves-effect tooltipped green principalBackgroundColor" data-position="left" data-tooltip="Aplicar Configurações">
    <i class="large material-icons">check</i>
</a>
</div>