<div id="loadPage" class="outer backouter">
  <div class="middle">
    <div class="inner">
      
      <div class="progress grey darken-2">
        <div class="indeterminate white"></div>
      </div>
    
    </div>
  </div>
</div>

<header>
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
      <div class="center principalcolor">
        <div> <a href="#!" onclick="loadPage('home', 'Room Control')"> <i class="material-icons principalcolor"
              style="font-size: 150px; margin-top: 40px">settings_applications</i> </a>
        </div>
        <div> Room Control V0.6 Alpha</div>
        <div id="d_ip"> IP: XXX.XXX.XXX.X </div>
      </div>
    </li>
    <li class="divider"></li>
    <li>
      <div class="center principalcolor">
        <div id="d_name_connected"> Conectado como: Usuário teste</div>
        <div>
          <a id="signOut" onclick="signOut()" class="waves-effect btn-small principalBackgroundColor"><i
              class="material-icons left">details</i> signOut </a>
        </div>
      </div>
    </li>
    <li class="divider"></li>
    <li class="noPadding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect principal-textcolor" tabindex="0">Cômodos</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!" class="principal-textcolor" onclick="loadPage('comodos/qnathan', 'Quarto Nathan')">Quarto
                  Nathan</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="noPadding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect principal-textcolor" tabindex="0">Configurações</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!" class="principal-textcolor"
                  onclick="loadPage('configuracoes/configar', 'Arduino/Componentes')">Arduino / Server</a></li>
              <li><a href="#!" class="principal-textcolor"
                  onclick="loadPage('configuracoes/configst', 'Configurações')">Site</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <a id="b_lateral" onclick="saveConfig()" class="waves-effect btn principalBackgroundColor" style="display: none;">
        Aplicar Configurações </a>
    </li>
  </ul>
</header>