{
  "presets": [
      [ "env",
          {
              "modules": false,
              "useBuiltIns": "usage"
          }
      ],
      "react",
      "stage-0" // npm install babel-preset-stage-0 --save
  ],
  "env": {
      "test": {
          "presets": ["react"],
          "plugins": ["transform-es2015-modules-commonjs"]
      }

  }
}
