<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jqcookie.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/jscolor.js"></script>
<!--
<script type="text/javascript" src="/js/main.js"></script>
<script src="/js/firebase.js"></script>
<script src="/js/fire.js"></script>
<script src="/js/socket.io.js"></script>
<script src="/js/socket.js"></script>
<script type="text/javascript" src="/js/ready.js"></script>
-->